/* THE BODY PART*/
body
{
    text-align: center;
    margin: 0;
    /*background-image: url("images/Time Square.jpg");
    background-size: 1700px;*/
}
header
{
	background-color: rgba(160,010,050,.75);
	padding-top: 30px;
	padding-bottom: 30px;
	/*padding-left: 10px;
	padding-right: 20px;*/
}
main
{
	/*width: 1000px;
	margin-top: 35px;
	margin-bottom: 35px;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(160,010,050,.75);
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 10px;
	padding-right: 20px;*/
}
footer
{
	padding-right, left: 20px;
	/*background-color: #0D2C40;*/
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	background-color: rgba(160,010,050,.75);
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 10px;
}
/*Make the footer visable*/
.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

/*HEADINGS*/
/*h1*/
h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 45px;
    text-align: center;
    letter-spacing: 1px;
    color: #ffffff;
    margin: 0;

}
h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-right: 15px;
    letter-spacing: 1px;
    color: #ffffff;
    background-color: rgba(160,010,050,.75);
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 10px;
	padding-right: 20px;
}
h3
{
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: right;
    letter-spacing: 1px;
    color: #ffffff;
    background-color: rgba(160,010,050,.75);
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 10px;
	padding-right: 200px;
}

h3.contactMe
{
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: right;
    letter-spacing: 1px;
    color: #ffffff;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 10px;
	padding-right: 100px;
}


/*PARAGRAPHS*/
/*intructions explaination*/
p {
  font-family: "Droid Serif", serif;
  line-height: 26px;
  font-size: 18px;
  text-align: left;
}
p.first
{
	font: Raleway;
	float: left;
	margin-left: 100px;
	line-height: 30px;
  	font-size: 28px;
}
p.second
{
	font: Raleway;
	float: center;
	margin-left: 100px;
	line-height: 30px;
  	font-size: 28px;
}
p.copyright
{
	font: Raleway;
	float: left;
	margin-left: 16px;
}

p.message
{
	font: Raleway;
	float: right;
	margin-right: 16px;
}


/*ANCHORS*/
/*a
{
	margin-left: 20px;
	margin-right: 20px;
	border: 2px solid;
	border-color: rgba(160,010,050,.75);
	text-decoration-line: none;
	font-family: "Droid Serif", serif;

}

a:hover 
{
  border: 2px solid rgba(160,010,050,1);
}
*/
a.second
{
	margin-left: 20px;
	margin-right: 20px;
	border: 2px solid;
	border-color: rgba(160,010,050,.75);
	text-decoration-line: none;
	font-family: "Droid Serif", serif;
	padding: 10px;
	border-spacing: 10px;

}

a.second:hover 
{
  border: 2px solid rgba(160,010,050,1);
}

/*NAVS*/
nav
{
	background-color: #00A6B3;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*IMAGES*/
img
{
	margin-top: 40px;
	margin-left: 8px;
	margin-right: 8px;
}
img.artwork
{
	width: 50%;
	display: block;
	margin: 10px;
	float: right;
	margin-right: 150px;
}
img.contactMe
{
	width: 25%;
	display: inline-block;
	margin: 10px;
	border-spacing: 5px;
}


/*SPANS*/
span.name
{
	color: #F15B31;
	font-weight: 700;
}


/*TABLE*/

td.right
{
	align-items: right;
}


/*LIST*/
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(160,010,050,.75);
}

li 
{
    float: right;
}

li a 
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover
{
    background-color: #111111;
}